Repository armeldemarsac92/ecommerce_project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-test, api-test, build-frontend-staging, scan-frontend-staging, build-api-staging, scan-api-staging, build-auth-staging, scan-auth-staging, build-frontend-production, scan-frontend-production, build-api-production, scan-api-production, build-auth-production, scan-auth-production

Path conditions:
  frontend-test: any of: web/**/*
  api-test: any of: api/Tdev702.Api/**/*
  build-frontend-staging: any of: web/**/*
  scan-frontend-staging: any of: web/**/*
  build-api-staging: any of: api/Tdev702.Api/**/*, api/Tdev702.Contracts/**/*, api/Tdev702.Repository/**/*, api/Tdev702.AWS.SDK/**/*, api/Tdev702.Stripe.SDK/**/*, api/Tdev702.OpenFoodFact.SDK/**/*
  scan-api-staging: any of: api/Tdev702.Api/**/*, api/Tdev702.Contracts/**/*, api/Tdev702.Repository/**/*, api/Tdev702.AWS.SDK/**/*, api/Tdev702.Stripe.SDK/**/*, api/Tdev702.OpenFoodFact.SDK/**/*
  build-auth-staging: any of: api/Tdev702.Auth/**/*, api/Tdev702.Contracts/**/*, api/Tdev702.Repository/**/*, api/Tdev702.Stripe.SDK/**/*, api/Tdev702.AWS.SDK/**/*
  scan-auth-staging: any of: api/Tdev702.Auth/**/*, api/Tdev702.Contracts/**/*, api/Tdev702.Repository/**/*, api/Tdev702.Stripe.SDK/**/*, api/Tdev702.AWS.SDK/**/*
  build-frontend-production: any of: web/**/*
  scan-frontend-production: any of: web/**/*
  build-api-production: any of: api/Tdev702.Api/**/*, api/Tdev702.Contracts/**/*, api/Tdev702.Repository/**/*, api/Tdev702.AWS.SDK/**/*, api/Tdev702.Stripe.SDK/**/*, api/Tdev702.OpenFoodFact.SDK/**/*
  scan-api-production: any of: api/Tdev702.Api/**/*, api/Tdev702.Contracts/**/*, api/Tdev702.Repository/**/*, api/Tdev702.AWS.SDK/**/*, api/Tdev702.Stripe.SDK/**/*, api/Tdev702.OpenFoodFact.SDK/**/*
  build-auth-production: any of: api/Tdev702.Auth/**/*, api/Tdev702.Contracts/**/*, api/Tdev702.Repository/**/*, api/Tdev702.Stripe.SDK/**/*, api/Tdev702.AWS.SDK/**/*
  scan-auth-production: any of: api/Tdev702.Auth/**/*, api/Tdev702.Contracts/**/*, api/Tdev702.Repository/**/*, api/Tdev702.Stripe.SDK/**/*, api/Tdev702.AWS.SDK/**/*

fix : removed auth
  api/Tdev702.Auth/Endpoints/Auth.cs
Due: build-auth-staging, scan-auth-staging, build-auth-production, scan-auth-production

fix : fixed the user locked out error
  api/Tdev702.Auth/Services/ITokenService.cs
Due: build-auth-staging, scan-auth-staging, build-auth-production, scan-auth-production

feat : added the like support to the products
  api/Tdev702.Api/Endpoints/ProductEndpoints.cs
  api/Tdev702.Api/Program.cs
  api/Tdev702.Api/Properties/launchSettings.json
  api/Tdev702.Api/Services/IProductsService.cs
  api/Tdev702.Contracts/API/Response/ShopProductResponse.cs
  api/Tdev702.Contracts/Mapping/ProductMapping.cs
  api/Tdev702.Contracts/SQL/Response/FullProductSQLResponse.cs
  api/Tdev702.Repository/Repository/IProductRepository.cs
  api/Tdev702.Repository/SQL/ProductQueries.cs
Due: api-test, build-api-staging, scan-api-staging, build-auth-staging, scan-auth-staging, build-api-production, scan-api-production, build-auth-production, scan-auth-production

fix : correcteed the product unit tests to support is liked
  api/Tdev702.Api.Tests.Unit/Services/ProductsServiceTests.cs
Due: none

feat : removed auth from products endpoints
  api/Tdev702.Api.SDK/Tdev702.Api.SDK.csproj
  api/Tdev702.Api/Endpoints/ProductEndpoints.cs
  api/Tdev702.Auth/Extensions/MessagingExtensions.cs
  api/Tdev702.Auth/Program.cs
  api/Tdev702.Auth/Services/IUserService.cs
  api/Tdev702.Auth/Tdev702.Auth.csproj
  api/Tdev702.Contracts/Messaging/TwoFactorCodeTask.cs
Due: api-test, build-api-staging, scan-api-staging, build-auth-staging, scan-auth-staging, build-api-production, scan-api-production, build-auth-production, scan-auth-production

fix : corrected the unit tests for open food fact
  api/Tdev702.Api.Tests.Unit/Services/OpenFoodFactsServiceTests.cs
Due: none

fix : fixed the order queries
  api/Tdev702.Repository/SQL/OrderQueries.cs
Due: build-api-staging, scan-api-staging, build-auth-staging, scan-auth-staging, build-api-production, scan-api-production, build-auth-production, scan-auth-production

fix : corrected the pagesize typo
  api/Tdev702.Repository/Repository/IOrderRepository.cs
Due: build-api-staging, scan-api-staging, build-auth-staging, scan-auth-staging, build-api-production, scan-api-production, build-auth-production, scan-auth-production

feat : integration test almost done, queue to be tested
  api/Tdev702.Api.SDK/DI/ServiceCollectionExtension.cs
  api/Tdev702.Api.SDK/Endpoints/ProductEndpoints.cs
  api/Tdev702.Api.SDK/Tdev702.Api.SDK.csproj
  api/Tdev702.Api.Tests.Integration/Fixture/TestFixture.cs
  api/Tdev702.Api.Tests.Integration/Products/ProductIntegrationTests.cs
  api/Tdev702.Api.Tests.Integration/Tdev702.Api.Tests.Integration.csproj
  api/Tdev702.Auth.SDK/Consumer/TwoFactorCodeConsumer.cs
  api/Tdev702.Auth.SDK/DI/ServiceCollectionExtension.cs
  api/Tdev702.Auth.SDK/Endpoints/AuthEndpoints.cs
  api/Tdev702.Auth.SDK/Routes/Auth.cs
  api/Tdev702.Auth.SDK/Routes/Roles.cs
  api/Tdev702.Auth.SDK/Service/CodeService.cs
  api/Tdev702.Auth.SDK/Tdev702.Auth.SDK.csproj
  api/Tdev702.Auth/Endpoints/Auth.cs
  api/Tdev702.Auth/Extensions/MessagingExtensions.cs
  api/Tdev702.Auth/Tdev702.Auth.csproj
  api/Tdev702.Contracts/API/Request/Order/CreateOrderRequest.cs
  api/Tdev702.Contracts/API/Request/Order/UpdateOrderRequest.cs
  api/Tdev702.Contracts/Exceptions/EmptyCodeException.cs
  api/Tdev702.sln
  api/Tdev702.sln.DotSettings.user
Due: build-api-staging, scan-api-staging, build-auth-staging, scan-auth-staging, build-api-production, scan-api-production, build-auth-production, scan-auth-production

fix : updated the test access token fetching, no more sqs queue.
  api/Tdev702.Api.SDK/DI/ServiceCollectionExtension.cs
  api/Tdev702.Api.Tests.Integration/Fixture/TestFixture.cs
  api/Tdev702.Auth.SDK/Consumer/TwoFactorCodeConsumer.cs
  api/Tdev702.Auth.SDK/DI/ServiceCollectionExtension.cs
  api/Tdev702.Auth.SDK/Endpoints/AuthEndpoints.cs
  api/Tdev702.Auth.SDK/Routes/Auth.cs
  api/Tdev702.Auth.SDK/Routes/Roles.cs
  api/Tdev702.Auth.SDK/Service/CodeService.cs
  api/Tdev702.Auth.SDK/Service/TestTokenService.cs
  api/Tdev702.Auth.SDK/Tdev702.Auth.SDK.csproj
  api/Tdev702.Auth/Extensions/MessagingExtensions.cs
  api/Tdev702.Auth/Program.cs
  api/Tdev702.Auth/Tdev702.Auth.csproj
  api/Tdev702.sln.DotSettings.user
Due: build-auth-staging, scan-auth-staging, build-auth-production, scan-auth-production

feat : updated the gitlab ci to run the tests
  .gitlab-ci.yml
Due: none

fix : removed the bind interface from mass transit
  api/Tdev702.Auth/Extensions/MessagingExtensions.cs
  api/Tdev702.Auth/Services/IUserService.cs
  api/Tdev702.Contracts/API/Request/Order/UpdateOrderProductRequest.cs
Due: build-api-staging, scan-api-staging, build-auth-staging, scan-auth-staging, build-api-production, scan-api-production, build-auth-production, scan-auth-production

feat : updated the ci to run the integrations tests
  .gitlab-ci.yml
Due: none

fix : fixed the integration tests conditions
  .gitlab-ci.yml
Due: none

fix : fixed the user id not found in claims error
  api/Tdev702.Api/Endpoints/CategoryEndpoints.cs
  api/Tdev702.Api/Utils/ClaimsUtils.cs
Due: api-test, build-api-staging, scan-api-staging, build-api-production, scan-api-production
